* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka", sans-serif;
}
.perro {
  width: 30px;
  height: 30px;
}
.footer {
  padding-top: 60px;
}
.perro1 {
  width: 50vh;
}
